.sections{
  background-color: rgba(133, 194, 218, 0.61);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 0px 8px 8px -6px black;
flex-wrap: wrap;
position: relative;
padding: 16px;
border-radius: 50px;
}

.sections :hover{
color: antiquewhite;
cursor: pointer;
}

.inicio-container{
  display: flex;
  position: relative;
  justify-content: center;
  width: 100vw;
  align-items: center;
}


.Descripcion-Inicio{
  background-color: rgba(133, 194, 218, 0.61);
color:rgb(15, 15, 15) ;
font-size: medium;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display: flex;
text-align: center;
justify-content: center;
box-shadow: 0px 8px 8px -6px black;
flex-wrap: wrap;
position: relative;
padding: 16px;
border-radius: 50px;
width: 500px;
}

